.clear:before, .clear:after {
  content: ' ';
  display: table; }

.clear {
  *zoom: 1; }
  .clear:after {
    clear: both; }

* {
  box-sizing: border-box;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

html {
  font-size: 62.5%;
  background: radial-gradient(ellipse at center, #F7F6F0 0, #c2ba8c 80%, #b0a66b 100%); }

body {
  font: 300 13px/1.6 'Helvetica Neue', Helvetica, Arial;
  color: #444;
  transition: all .4s .3s ease-in; }

body, html {
  min-height: 100vh;
  overflow: hidden; }

/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

.logo {
  margin: -58px 0 0 -100px;
  position: absolute;
  top: 50%;
  left: 50%; }

.nav ul {
  list-style: none; }

@font-face {
  font-family: 'Font-Name';
  src: url("../fonts/font-name.eot");
  src: url("../fonts/font-name.eot?#iefix") format("embedded-opentype"), url("../fonts/font-name.woff") format("woff"), url("../fonts/font-name.ttf") format("truetype"), url("../fonts/font-name.svg#font-name") format("svg");
  font-weight: normal;
  font-style: normal; }

::-moz-selection {
  background: #333;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #333;
  color: #fff;
  text-shadow: none; }

::-moz-selection {
  background: #333;
  color: #fff;
  text-shadow: none; }

::-webkit-selection {
  background: #333;
  color: #fff;
  text-shadow: none; }

@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }
  a,
  a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  thead {
    display: table-header-group; }
  tr,
  img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  @page {
    margin: 0.5cm; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; } }

* {
  margin: 0;
  padding: 0; }

html {
  overflow-y: scroll;
  background: #ffffff; }

body {
  height: 100%;
  margin: 0;
  font-size: 13px;
  font-family: 'Noto Sans' !important; }

.splash__screen {
  background-image: url("../img/gold3.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center; }
  .splash__screen .overlay-content {
    text-align: center;
    background-color: #ffffff;
    position: relative;
    top: 539px;
    font-size: 0.8em;
    font-weight: 400;
    position: fixed;
    width: 100%; }

input:focus,
select {
  outline: none; }

.login__nav {
  background-color: #000000;
  height: 45px;
  width: 100%;
  text-align: center;
  padding-top: 16px;
  font-size: 1em;
  font-weight: 400;
  color: #ffffff; }
  .login__nav .arrow-left-password {
    position: relative;
    float: left;
    left: 5%;
    font-size: 25px;
    top: -5px;
    color: #ffffff; }
    .login__nav .arrow-left-password a {
      color: #ffffff; }
    .login__nav .arrow-left-password a:hover {
      text-decoration: none; }

.lang__preference {
  color: #ffffff;
  float: right;
  padding-right: 17px;
  position: relative;
  padding-top: 50px; }
  .lang__preference a {
    color: orange;
    text-decoration: underline;
    font-size: 12px; }
  .lang__preference .lang__chosen {
    font-size: 12px; }

.friends-logo img {
  width: 80%;
  margin: 0 auto;
  display: block;
  position: relative;
  top: 20px; }

.login__container {
  background-image: url("../img/gold-holder.svg");
  height: 700px;
  background-position: 228px 155px;
  background-size: 239px 517px;
  background-repeat: no-repeat; }

.login__screen {
  background-image: url("../img/artboard.png");
  background-position: -382px 11px;
  background-size: 965px 939px;
  background-repeat: no-repeat; }
  .login__screen .input__fields {
    width: 100%;
    padding: 12px 21px;
    margin: 8px 0;
    display: block;
    border: none;
    background-color: inherit;
    border-bottom: 1px solid #4c4c4c;
    box-sizing: border-box; }
  .login__screen .btn {
    border: 2px solid #4c4c4c !important;
    background-color: #ffffff;
    padding: 10px;
    margin: 8px 0;
    border: none;
    width: 150px;
    font-size: 1em;
    font-weight: 400; }
  .login__screen .btnLogin:hover {
    opacity: 0.8; }
  .login__screen .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336; }
  .login__screen .imgcontainer {
    text-align: center;
    margin: 24px 0 12px; }
  .login__screen .login__form {
    position: relative;
    padding: 16px; }
    .login__screen .login__form .padlock {
      position: relative;
      width: 18px;
      top: 36px; }
    .login__screen .login__form :-ms-input-placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: #000000;
      opacity: 1;
      /* Firefox */ }
    .login__screen .login__form ::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: #000000;
      opacity: 1;
      /* Firefox */ }
    .login__screen .login__form :-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: #000000; }
    .login__screen .login__form ::-ms-input-placeholder {
      /* Microsoft Edge */
      color: #000000; }
    .login__screen .login__form .forgot__password {
      position: relative;
      left: 150px;
      padding-top: 16px; }
      .login__screen .login__form .forgot__password a {
        text-decoration: underline;
        color: #000000;
        font-weight: 600; }
    .login__screen .login__form .fa {
      font-size: 17px;
      color: #4c4c4c;
      position: relative;
      top: 40px; }
    .login__screen .login__form .register a {
      padding-left: 38px;
      color: #000000;
      font-weight: 300; }
    .login__screen .login__form .remember__password {
      padding-top: 14px;
      font-weight: 300; }
      .login__screen .login__form .remember__password .remember__content {
        color: #ffffff;
        padding-left: 3px;
        position: relative;
        top: -3ps; }

.forgot__password__screen {
  background-image: url("../img/forgot-password.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: bottom; }
  .forgot__password__screen .forgot__password__nav img {
    height: 26px;
    position: relative;
    top: -5px;
    float: left;
    left: 16px; }
  .forgot__password__screen .overlay-content {
    text-align: center;
    background-color: #ffffff;
    position: relative;
    top: 378px;
    font-weight: 400; }

.forgot__password__container {
  position: relative;
  top: 186px;
  padding: 16px;
  font-weight: 400; }
  .forgot__password__container .forgot__password__fields {
    color: #000000; }
  .forgot__password__container .fa-forgot__password {
    font-size: 20px;
    color: #000000;
    position: relative;
    top: 40px; }
  .forgot__password__container .btnSubmit {
    color: #000000; }
  .forgot__password__container :-ms-input-placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #000000;
    opacity: 1;
    /* Firefox */ }
  .forgot__password__container ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #000000;
    opacity: 1;
    /* Firefox */ }
  .forgot__password__container :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #000000; }
  .forgot__password__container ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #000000; }
  .forgot__password__container .forgot__password {
    float: right;
    padding-top: 16px; }
    .forgot__password__container .forgot__password a {
      text-decoration: underline;
      color: #ffffff; }
  .forgot__password__container .register a {
    padding-left: 38px;
    color: #000000;
    font-weight: 300; }
  .forgot__password__container .remember__password {
    padding-top: 14px;
    font-weight: 300; }

/* Checkbox container */
.checkbox_container {
  display: block;
  position: relative;
  padding-left: 21px;
  font-size: 13px;
  color: #000000;
  font-weight: 400;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

/* Hide the browser's default checkbox */
.checkbox_container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0; }

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  border: 1px solid #4c4c4c; }

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none; }

/* Show the checkmark when checked */
.checkbox_container input:checked ~ .checkmark:after {
  display: block; }

/* Style the checkmark/indicator */
.checkbox_container .checkmark:after {
  left: 5px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid #000000;
  border-width: 0 3px 3px 0;
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.home__screen__background {
  width: 100%;
  background-image: url("../img/artboard.png");
  background-size: 450px auto;
  height: 100%;
  background-position: -149px 189px;
  background-repeat: no-repeat; }
  .home__screen__background .sidebar__container {
    background-color: #000000;
    height: 60px;
    padding-top: 9px; }
    .home__screen__background .sidebar__container .hamburger_icon {
      font-size: 30px;
      cursor: pointer;
      color: #ffffff;
      padding: 11px; }
    .home__screen__background .sidebar__container .icon-bar_logo img {
      border-radius: 0;
      margin: 0 auto;
      display: block;
      position: relative;
      width: 140px;
      border-radius: 0;
      top: -46px; }
    .home__screen__background .sidebar__container .home_screen_email {
      position: relative;
      top: 18px;
      color: #fff;
      float: right;
      left: -24px;
      font-size: 20px; }
    .home__screen__background .sidebar__container .sidenav {
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: #111;
      overflow-x: hidden;
      transition: 0.5s;
      padding-top: 60px; }
      .home__screen__background .sidebar__container .sidenav .welcome_bottom_border {
        width: 30%;
        padding-top: 12px;
        border-bottom: 1px solid #ffffff;
        position: relative;
        left: 34px;
        display: block; }
      .home__screen__background .sidebar__container .sidenav .menu__items__bottom_border {
        width: 44%;
        border-bottom: 1px solid #ffffff;
        position: relative;
        left: 34px;
        display: block;
        padding-top: 38px; }
      .home__screen__background .sidebar__container .sidenav .menu__items {
        color: #C5B358; }
    .home__screen__background .sidebar__container .sidenav a {
      padding: 22px 8px 8px 32px;
      text-decoration: none;
      font-size: 15px;
      display: block; }
    .home__screen__background .sidebar__container .sidenav a:hover {
      color: #f1f1f1; }
    .home__screen__background .sidebar__container .sidenav .closebtn {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
      margin-left: 50px;
      color: #ffffff; }
  .home__screen__background .home_screen_content {
    display: block;
    padding-top: 20px; }
    .home__screen__background .home_screen_content .code__stats {
      padding-left: 50px;
      font-size: 13px; }
    .home__screen__background .home_screen_content .rewards_stats {
      float: right;
      padding-right: 50px;
      font-size: 13px; }
  .home__screen__background .container-fluid {
    padding-top: 17px;
    font-weight: 700;
    font-size: 10px; }
  .home__screen__background .rewards_codes {
    font-size: 2em; }
  .home__screen__background .vertical_line {
    height: 60px;
    top: 6px;
    position: relative;
    border-right: 1px solid #c5b358; }
  .home__screen__background .refer_smoker {
    padding-left: 33px;
    padding-top: 19px; }
    .home__screen__background .refer_smoker a:hover {
      text-decoration: none; }
  .home__screen__background .qr_code_container {
    padding-left: 40px;
    position: relative;
    top: 107px; }
  .home__screen__background .rewards {
    padding-left: 33px;
    position: relative;
    top: 212px; }
  .home__screen__background a:hover {
    text-decoration: none; }
  .home__screen__background img {
    border-radius: 100%; }
  .home__screen__background .refer_copy {
    padding-left: 12px;
    font-size: 13px; }
  .home__screen__background .rewards_copy {
    position: relative;
    font-size: 13px;
    top: 34px;
    right: 18px; }

.lead__referral__screen .login__nav .arrow-left {
  height: 26px;
  position: relative;
  top: -5px;
  float: left;
  left: 5%; }

.lead__referral__screen .login__nav a {
  color: #ffffff; }

.lead__referral__screen .login__nav a:hover {
  text-decoration: none; }

.lead__referral__screen .container .form__lead__referral {
  width: 80%;
  margin: 0 auto; }
  .lead__referral__screen .container .form__lead__referral .fa {
    position: relative;
    top: 40px;
    color: grey; }
  .lead__referral__screen .container .form__lead__referral :-ms-input-placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: grey;
    opacity: 1;
    /* Firefox */ }
  .lead__referral__screen .container .form__lead__referral ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: grey;
    opacity: 1;
    /* Firefox */ }
  .lead__referral__screen .container .form__lead__referral .lead__referral__container {
    /* Style the checkmark/indicator */ }
    .lead__referral__screen .container .form__lead__referral .lead__referral__container .lead__referral__fields {
      width: 100%;
      padding: 12px 21px;
      margin: 8px 0;
      color: #000000;
      display: inline-block;
      border: none;
      background-color: inherit;
      border-bottom: 1px solid #ccc;
      box-sizing: border-box; }
    .lead__referral__screen .container .form__lead__referral .lead__referral__container .map-icon {
      height: 33px;
      width: 35px;
      position: relative;
      top: 46px;
      right: 12px; }
    .lead__referral__screen .container .form__lead__referral .lead__referral__container .phone-icon {
      height: 16px;
      width: 35px;
      position: relative;
      top: 38px;
      right: 12px; }
    .lead__referral__screen .container .form__lead__referral .lead__referral__container .select {
      background: url("../img/select.png") no-repeat right center;
      color: grey;
      -webkit-appearance: none;
      -moz-appearance: none; }
    .lead__referral__screen .container .form__lead__referral .lead__referral__container .consent_checkbox {
      color: #000000;
      font-size: 12px;
      padding-left: 30px; }
    .lead__referral__screen .container .form__lead__referral .lead__referral__container .checkbox_container .checkmark:after {
      left: 5px;
      top: 2px;
      width: 5px;
      height: 10px;
      border: solid #000000;
      border-width: 0 3px 3px 0;
      -ms-transform: rotate(45deg);
      transform: rotate(45deg); }
  .lead__referral__screen .container .form__lead__referral .btnSend {
    margin: 0 auto;
    display: block;
    width: 40%;
    background-color: #ffffff;
    border: solid 2px; }

/* Style the tab */
.tab {
  overflow: hidden;
  background-color: #000;
  color: #ffffff; }

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 12px;
  transition: 0.3s;
  font-size: 14px; }

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd; }

/* Create an active/current tablink class */
.tab button.active {
  background-color: #323232; }

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
  background-color: #323232;
  position: absolute;
  width: 100%;
  height: 64px; }

.tab1 .code__container {
  top: 26px;
  position: relative; }
  .tab1 .code__container .sent1 {
    padding: 9px;
    box-shadow: 0 0 10px #888888;
    width: 90%;
    margin: 0 auto;
    position: relative;
    background-color: #ffffff; }
    .tab1 .code__container .sent1 .send_date {
      padding-left: 20px;
      font-weight: 700;
      color: grey;
      font-size: 12px; }
    .tab1 .code__container .sent1 h4 {
      padding-left: 20px;
      font-weight: 700; }
    .tab1 .code__container .sent1 .expires {
      float: right;
      padding-right: 20px;
      color: grey;
      font-size: 12px; }
    .tab1 .code__container .sent1 .code {
      padding-left: 20px;
      font-size: 17px;
      color: grey;
      line-height: 2; }
    .tab1 .code__container .sent1 .code_msg {
      float: right;
      padding-right: 20px;
      color: #C5B358;
      line-height: 2; }
    .tab1 .code__container .sent1 .fa-plus {
      color: #C5B358;
      border: solid 2px #C5B358;
      border-radius: 50%;
      padding: 2px 4px;
      font-size: 16px;
      font-weight: 500; }
    .tab1 .code__container .sent1 .fa-check {
      border: 2px solid #BEBEBE;
      border-radius: 50%;
      padding: 5px 6px;
      font-size: 9px;
      font-weight: 100;
      color: #BEBEBE;
      font-size: 10px; }

@media (max-width: 292px) {
  .login__container {
    background-position: 142px 155px !important;
    background-size: 193px 450px !important; }
  .container-fluid {
    font-size: 6px !important; } }

@media (max-width: 331px) {
  .container-fluid .row {
    -ms-flex-wrap: nowrap !important;
        flex-wrap: nowrap !important; }
  .code__stats,
  .refer_copy,
  .rewards_copy,
  .rewards_stats {
    font-size: 8px !important; }
  .qr_code {
    font-size: 18px !important; }
  .qr_code_name {
    padding-left: 0 !important; } }

@media (max-width: 337px) {
  .refer_smoker {
    top: 1px !important;
    position: relative; }
  .forgot__password {
    left: 70px !important; }
  .home__screen__background {
    background-position: -111px 205px !important;
    background-size: 334px auto; }
  .home__screen__background .container-fluid {
    font-size: 8px; }
  .login__container {
    background-position: 158px 122px;
    background-size: 194px 530px; }
  .qr_code_container {
    top: 82px !important;
    padding-left: 16px !important; }
  .rewards {
    top: 129px !important; }
  .code__stats,
  .refer_copy,
  .rewards_copy,
  .rewards_stats {
    font-size: 12px; } }

@media (min-width: 338px) and (max-width: 359px) {
  .login__nav {
    font-size: 1em; }
  .splash__screen .overlay-content {
    top: 427px; }
  .row {
    -ms-flex-wrap: nowrap !important;
        flex-wrap: nowrap !important; }
  .login__container {
    background-position: 166px 232px;
    background-size: 239px 308px; }
  .home__screen__background {
    background-position: -111px 243px;
    background-size: 334px auto; }
  .rewards {
    top: 153px !important; }
  .container-fluid {
    font-size: 9px !important; }
  .qr_code_container {
    right: 28px !important; }
  .refer_smoker {
    top: 36px;
    position: relative; }
  .forgot__password__container {
    top: 72px !important; }
  .forgot__password {
    left: 100px !important; }
  .login__screen .login__form .register a {
    padding-left: 27px; }
  .rewards_container {
    font-size: 10px !important; } }

@media (min-width: 360px) and (max-width: 375px) {
  .splash__screen .overlay-content {
    top: 414px; }
  .home__screen__background {
    background-size: 395px auto;
    background-position: -149px 218px !important; }
  .row {
    -ms-flex-wrap: nowrap !important;
        flex-wrap: nowrap !important; }
  .refer_smoker {
    margin-top: 20px; }
  .qr_code_container {
    padding-left: 11px !important;
    top: 96px !important; }
  .rewards {
    padding-left: 33px !important;
    position: relative !important;
    top: 170px !important; }
  .login__container {
    background-position: 198px 160px; } }

@media (max-width: 412px) {
  .code__container .sent1 {
    height: 154px; }
  .tab button {
    padding: 6px; }
  .login__form {
    top: 48px; } }

@media (max-width: 480px) {
  .form__container {
    width: 200px; }
  .btnLogin {
    width: 150px !important; }
  .forgot__password__container {
    top: 150px; }
  .sidenav {
    padding-top: 15px; }
  .sidenav a {
    font-size: 18px; } }

@media (min-width: 481px) and (max-width: 767px) {
  .form__container {
    width: 40%; }
  .login__form {
    top: 48px; } }

@media (min-width: 768px) {
  .login__screen {
    background-position: -486px -59px;
    background-size: 1377px 1370px; }
  .row {
    padding-left: 50px; }
  .forgot__password__screen {
    background-position: 50% -138px;
    background-size: 1377px 1370px; }
  .home__screen__background {
    background-size: 778px auto;
    height: 1100px;
    background-position: -254px 224px; }
  .login__container {
    height: 1040px;
    background-position: 487px 238px;
    background-size: 350px 717px; }
  .refer_smoker {
    padding-left: 93px !important;
    padding-top: 73px !important; }
  .qr_code_container {
    top: 264px !important;
    padding-left: 93px !important; }
  .rewards {
    top: 497px !important;
    padding-left: 93px !important; }
  .forgot__password {
    left: 250px !important; }
  .mobile-show {
    display: none; }
  .login__nav {
    height: 60px;
    padding-top: 20px; }
  .lang__preference {
    padding-top: 70px; }
  .splash__screen .overlay-content {
    height: 41px;
    padding: 5px;
    top: 740px;
    font-size: 1.4em; }
  .login__screen .login__form {
    top: 76px;
    width: 55%;
    font-size: 1.5em;
    margin: 0 auto; }
  .fa {
    font-size: 20px;
    top: 42px !important; }
  .rewards_container .vertical_line {
    right: 10% !important; } }

@media (min-width: 1024px) {
  .splash__screen .overlay-content {
    top: 954px;
    font-size: 2em;
    padding: 0; }
  .row {
    margin: 0 auto; }
  .login__container {
    height: 1272px;
    background-position: 587px 320px;
    background-size: 511px 941px; }
  .login__screen {
    background-position: -585px -59px;
    background-size: 1777px 1770px; }
  .forgot__password__screen {
    background-position: 50% -138px;
    background-size: 1777px 1770px; }
  .login__screen .login__form {
    top: 192px !important;
    left: 28px;
    width: 55%;
    font-size: 1.5em;
    margin: 0 auto; }
  .home__screen__background {
    background-position: -325px 321px;
    background-size: 987px auto;
    height: 1300px; }
  .refer_smoker {
    padding-top: 184px !important;
    padding-left: 119px !important; }
  .qr_code_container {
    top: 342px !important;
    padding-left: 133px !important; }
  .rewards {
    top: 669px !important;
    padding-left: 163px !important; }
  .fa {
    font-size: 20px; }
  .padlock {
    top: 47px !important; }
  .lang__preference {
    padding-right: 56px; }
  .login__nav {
    height: 60px;
    padding-top: 20px; }
  .forgot__password__container {
    top: 325px; }
  .checkbox_container {
    font-size: 15px; } }

@media (min-width: 1280px) {
  .forgot__password__screen {
    background-size: cover;
    background-position: 50% 30%; }
  .row {
    margin: 0 auto; }
  .login__screen .login__form {
    width: 48%; }
  .lead__referral__fields {
    width: 100% !important; }
  .input__fields {
    width: 72% !important; }
  .tab button {
    padding: 28px; } }
