//----------------------------------*\
// SCSS MIXINS
//----------------------------------*/
@import 'mixins/_position.scss';
//----------------------------------*\
// CONFIG MODULES
//----------------------------------*/
// Config modules
@import 'modules/_vars.scss';
@import 'modules/_clearfix.scss';
@import 'modules/_defaults.scss';
@import 'modules/_normalize.scss'; //----------------------------------*\
// PARTIALS
//----------------------------------*/
@import 'partials/_header.scss';
@import 'partials/_nav.scss';
@import 'partials/_sidebar.scss';
@import 'partials/_main.scss';
@import 'partials/_footer.scss';
//----------------------------------*\
// OBJECTS & MODULES
//----------------------------------*/
@import 'modules/_buttons.scss';
@import 'modules/_inputs.scss';
@import 'modules/_lists.scss';
@import 'modules/_typography.scss';
@import 'modules/_misc.scss';
@import 'modules/_app.scss';
// Enhancement modules
@import 'modules/_breakpoints.scss';
@import 'modules/_print.scss';
//----------------------------------*\
// VENDOR
//----------------------------------*/
@import 'vendor/_external.scss';

* {
  margin: 0;
  padding: 0;
  // box-sizing: border-box;
}

html {
  overflow-y: scroll;
  background: #ffffff;
}

body {
  height: 100%;
  margin: 0;
  font-size: 13px;
  font-family: 'Noto Sans' !important;
}

.splash__screen {
  background-image: url("../img/gold3.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;

  .overlay-content {
    text-align: center;
    background-color: #ffffff;
    position: relative;
    top: 539px;
    font-size: 0.8em;
    font-weight: 400;
    position: fixed;
    width: 100%;
  }
}

input:focus,
select {
  outline: none;
}

.login__nav {
  // position: fixed;
  background-color: #000000;
  height: 45px;
  width: 100%;
  text-align: center;
  padding-top: 16px;
  font-size: 1em;
  font-weight: 400;
  color: #ffffff;

  .arrow-left-password {
    position: relative;
    float: left;
    left: 5%;
    font-size: 25px;
    top: -5px;
    color: #ffffff;

    a {
      color: #ffffff;
    }

    a:hover {
      text-decoration: none;
    }
  }
}

.lang__preference {
  color: #ffffff;
  float: right;
  padding-right: 17px;
  position: relative;
  padding-top: 50px;

  a {
    color: orange;
    text-decoration: underline;
    font-size: 12px;
  }

  .lang__chosen {
    font-size: 12px;
  }
}

.friends-logo img {
  width: 80%;
  margin: 0 auto;
  display: block;
  position: relative;
  top: 20px;
}

.login__container {
  background-image: url("../img/gold-holder.svg");
  height: 700px;
  background-position: 228px 155px;
  // background-position: 100% 100%;
  background-size: 239px 517px;
  // background-attachment: fixed;
  background-repeat: no-repeat;
  // position: fixed;
}

.login__screen {
  background-image: url("../img/artboard.png");
  background-position: -382px 11px;
  background-size: 965px 939px;
  // background-attachment: fixed;
  background-repeat: no-repeat;

  .input__fields {
    width: 100%;
    padding: 12px 21px;
    margin: 8px 0;
    // color: #000000;
    display: block;
    border: none;
    background-color: inherit;
    border-bottom: 1px solid #4c4c4c;
    box-sizing: border-box;
  }

  .btn {
    border: 2px solid #4c4c4c !important;
    background-color: #ffffff;
    padding: 10px;
    margin: 8px 0;
    border: none;
    width: 150px;
    font-size: 1em;
    font-weight: 400;
  }

  .btnLogin:hover {
    opacity: 0.8;
  }

  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }

  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px;
  }

  .login__form {
    position: relative;
    // position: fixed;
    // top: 52px;
    padding: 16px;

    .padlock {
      position: relative;
      width: 18px;
      top: 36px;
    }

    ::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: #000000;
      opacity: 1;
      /* Firefox */
    }

    :-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: #000000;
    }

    ::-ms-input-placeholder {
      /* Microsoft Edge */
      color: #000000;
    }

    .forgot__password {
      // float: right;
      position: relative;
      left: 150px;
      padding-top: 16px;

      a {
        text-decoration: underline;
        color: #000000;
        font-weight: 600;
      }
    }

    .fa {
      font-size: 17px;
      color: #4c4c4c;
      position: relative;
      top: 40px;
    }

    .register a {
      padding-left: 38px;
      color: #000000;
      font-weight: 300;
    }

    .remember__password {
      padding-top: 14px;
      font-weight: 300;

      .remember__content {
        color: #ffffff;
        padding-left: 3px;
        position: relative;
        top: -3ps;
      }
    }
  }
}

.forgot__password__screen {
  background-image: url("../img/forgot-password.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: bottom;

  .forgot__password__nav img {
    height: 26px;
    position: relative;
    top: -5px;
    float: left;
    left: 16px;
  }

  .overlay-content {
    text-align: center;
    background-color: #ffffff;
    position: relative;
    top: 378px;
    font-weight: 400;
  }
}

.forgot__password__container {
  position: relative;
  top: 186px;
  padding: 16px;
  font-weight: 400;

  .forgot__password__fields {
    color: #000000;
  }

  .fa-forgot__password {
    font-size: 20px;
    color: #000000;
    position: relative;
    top: 40px;
  }

  .btnSubmit {
    color: #000000;
  }

  ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #000000;
    opacity: 1;
    /* Firefox */
  }

  :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #000000;
  }

  ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #000000;
  }

  .forgot__password {
    float: right;
    padding-top: 16px;

    a {
      text-decoration: underline;
      color: #ffffff;
    }
  }

  .register a {
    padding-left: 38px;
    color: #000000;
    font-weight: 300;
  }

  .remember__password {
    padding-top: 14px;
    font-weight: 300;
  }
}
/* Checkbox container */
.checkbox_container {
  display: block;
  position: relative;
  padding-left: 21px;
  font-size: 13px;
  color: #000000;
  font-weight: 400;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* Hide the browser's default checkbox */
.checkbox_container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  border: 1px solid #4c4c4c;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
/* Show the checkmark when checked */
.checkbox_container input:checked ~ .checkmark:after {
  display: block;
}
/* Style the checkmark/indicator */
.checkbox_container .checkmark:after {
  left: 5px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid #000000;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
// HOME PAGE STYLES
.home__screen__background {
  // position: fixed;
  width: 100%;
  background-image: url("../img/artboard.png");
  background-size: 450px auto;
  height: 100%;
  background-position: -149px 189px;
  background-repeat: no-repeat;
  // background-attachment: fixed;
  .sidebar__container {
    background-color: #000000;
    height: 60px;
    padding-top: 9px;

    .hamburger_icon {
      font-size: 30px;
      cursor: pointer;
      color: #ffffff;
      padding: 11px;
    }

    .icon-bar_logo img {
      border-radius: 0;
      margin: 0 auto;
      display: block;
      position: relative;
      width: 140px;
      border-radius: 0;
      top: -46px;
    }

    .home_screen_email {
      position: relative;
      top: 18px;
      color: #fff;
      float: right;
      left: -24px;
      font-size: 20px;
    }

    .sidenav {
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: #111;
      overflow-x: hidden;
      transition: 0.5s;
      padding-top: 60px;

      .welcome_bottom_border {
        width: 30%;
        padding-top: 12px;
        border-bottom: 1px solid #ffffff;
        position: relative;
        left: 34px;
        display: block;
      }

      .menu__items__bottom_border {
        width: 44%;
        border-bottom: 1px solid #ffffff;
        position: relative;
        left: 34px;
        display: block;
        padding-top: 38px;
      }

      .menu__items {
        color: #C5B358;
      }
    }

    .sidenav a {
      padding: 22px 8px 8px 32px;
      text-decoration: none;
      font-size: 15px;
      display: block;
      // transition: 0.3s;
    }

    .sidenav a:hover {
      color: #f1f1f1;
    }

    .sidenav .closebtn {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
      margin-left: 50px;
      color: #ffffff;
    }
  }

  .home_screen_content {
    display: block;
    padding-top: 20px;

    .code__stats {
      padding-left: 50px;
      font-size: 13px;
    }

    .rewards_stats {
      float: right;
      padding-right: 50px;
      font-size: 13px;
    }
  }

  .container-fluid {
    padding-top: 17px;
    font-weight: 700;
    font-size: 10px;

    .row {
      // margin: 0 auto;
    }
  }

  .rewards_codes {
    font-size: 2em;
  }

  .vertical_line {
    height: 60px;
    top: 6px;
    position: relative;
    // right: 24px;
    border-right: 1px solid #c5b358;
  }

  .refer_smoker {
    padding-left: 33px;
    // margin-top: 18px;
    padding-top: 19px;

    a:hover {
      text-decoration: none;
    }
  }

  .qr_code_container {
    padding-left: 40px;
    position: relative;
    top: 107px;
  }

  .rewards {
    padding-left: 33px;
    position: relative;
    top: 212px;
  }

  a:hover {
    text-decoration: none;
  }

  img {
    border-radius: 100%;
  }

  .refer_copy {
    padding-left: 12px;
    font-size: 13px;
  }

  .rewards_copy {
    position: relative;
    font-size: 13px;
    top: 34px;
    right: 18px;
  }
}
// LEAD REFERRAL STYLES
.lead__referral__screen {
  .login__nav {
    .arrow-left {
      height: 26px;
      position: relative;
      top: -5px;
      float: left;
      left: 5%;
    }

    a {
      color: #ffffff;
    }

    a:hover {
      text-decoration: none;
    }
  }

  .container {
    .form__lead__referral {
      // padding-top: 40px;
      width: 80%;
      margin: 0 auto;

      .fa {
        position: relative;
        top: 40px;
        color: grey;
      }

      ::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: grey;
        opacity: 1;
        /* Firefox */
      }

      .lead__referral__container {
        .lead__referral__fields {
          width: 100%;
          padding: 12px 21px;
          margin: 8px 0;
          color: #000000;
          display: inline-block;
          border: none;
          background-color: inherit;
          border-bottom: 1px solid #ccc;
          box-sizing: border-box;
        }

        .map-icon {
          height: 33px;
          width: 35px;
          position: relative;
          top: 46px;
          right: 12px;
        }

        .phone-icon {
          height: 16px;
          width: 35px;
          position: relative;
          top: 38px;
          right: 12px;
        }

        .select {
          background: url("../img/select.png") no-repeat right center;
          color: grey;
          -webkit-appearance: none;
          -moz-appearance: none;
        }

        .consent_checkbox {
          color: #000000;
          font-size: 12px;
          padding-left: 30px;
        }
        /* Style the checkmark/indicator */
        .checkbox_container .checkmark:after {
          left: 5px;
          top: 2px;
          width: 5px;
          height: 10px;
          border: solid #000000;
          border-width: 0 3px 3px 0;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
        }
      }

      .btnSend {
        margin: 0 auto;
        display: block;
        width: 40%;
        background-color: #ffffff;
        border: solid 2px;
      }
    }
  }
}
/* Style the tab */
.tab {
  overflow: hidden;
  // border: 1px solid #ccc;
  background-color: #000;
  color: #ffffff;
}
/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 12px;
  transition: 0.3s;
  font-size: 14px;
}
/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}
/* Create an active/current tablink class */
.tab button.active {
  background-color: #323232;
}
/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  // border: 1px solid #ccc;
  border-top: none;
  background-color: #323232;
  // color: #ffffff;
  position: absolute;
  width: 100%;
  height: 64px;
}

.tab1 {
  .code__container {
    top: 26px;
    position: relative;

    .sent1 {
      padding: 9px;
      box-shadow: 0 0 10px #888888;
      width: 90%;
      margin: 0 auto;
      position: relative;
      background-color: #ffffff;

      .send_date {
        padding-left: 20px;
        font-weight: 700;
        color: grey;
        font-size: 12px;
      }

      h4 {
        padding-left: 20px;
        font-weight: 700;
      }

      .expires {
        float: right;
        padding-right: 20px;
        color: grey;
        font-size: 12px;
      }

      .code {
        padding-left: 20px;
        font-size: 17px;
        color: grey;
        line-height: 2;
      }

      .code_msg {
        float: right;
        padding-right: 20px;
        color: #C5B358;
        line-height: 2;
      }

      .fa-plus {
        color: #C5B358;
        border: solid 2px #C5B358;
        border-radius: 50%;
        padding: 2px 4px;
        font-size: 16px;
        font-weight: 500;
      }

      .fa-check {
        border: 2px solid #BEBEBE;
        border-radius: 50%;
        padding: 5px 6px;
        font-size: 9px;
        font-weight: 100;
        color: #BEBEBE;
        font-size: 10px;
      }
    }
  }
}
// media queries
@media (max-width:292px) {
  .login__container{
    background-position: 142px 155px !important;
    background-size: 193px 450px !important;
  }
  .container-fluid{
    font-size: 6px !important;
  }
}
@media (max-width:331px) {
  .container-fluid {
    // padding-right: 0px !important;
    // font-size: 8px !important;
    .row{
      flex-wrap: nowrap !important;
    }
  }

  .code__stats,
  .refer_copy,
  .rewards_copy,
  .rewards_stats {
    font-size: 8px !important;
  }

  .qr_code {
    font-size: 18px !important;
  }

  .qr_code_name {
    padding-left: 0 !important;
  }
}

@media (max-width:337px) {
  .refer_smoker {
    top: 1px !important;
    position: relative;
  }
  .forgot__password {
    left: 70px !important;
  }
  .home__screen__background {
    background-position: -111px 205px!important;
    background-size: 334px auto;
  }
  .home__screen__background .container-fluid {
    font-size: 8px;
  }
  .login__container {
    background-position: 158px 122px;
    background-size: 194px 530px;
  }
  .qr_code_container {
    top: 82px !important;
    padding-left: 16px !important;
  }
  .rewards {
    top: 129px!important;
  }

  .code__stats,
  .refer_copy,
  .rewards_copy,
  .rewards_stats {
    font-size: 12px;
  }
}
@media (min-width:338px) and (max-width:359px) {
  .login__nav {
    font-size: 1em;
  }
  .splash__screen .overlay-content {
    top: 427px;
  }
  .row{
    flex-wrap: nowrap !important;
  }
  .login__container {
    background-position: 166px 232px;
    background-size: 239px 308px;
  }
  .home__screen__background {
    background-position: -111px 243px;
    background-size: 334px auto;
  }
  .rewards {
    top: 153px !important;
  }
  .container-fluid{
    font-size: 9px !important;
  }
  .qr_code_container {
    // top: 58px!important;
    right: 28px !important;
  }
  .refer_smoker {
    top: 36px;
    position: relative;
  }
  .forgot__password__container {
    top: 72px !important;
  }
  .forgot__password {
    left: 100px !important;
  }
  .login__screen .login__form {
    // top: -16px;
    .register a {
      padding-left: 27px;
    }
  }
  .rewards_container {
    font-size: 10px !important;
  }
}
@media (min-width:360px) and (max-width:375px) {
  .splash__screen .overlay-content {
    top: 414px;
  }
  .home__screen__background {
    background-size: 395px auto;
    background-position: -149px 218px !important;
  }
  .row{
    flex-wrap: nowrap !important;
  }
  .refer_smoker {
    margin-top: 20px;
  }
  .qr_code_container {
    padding-left: 11px !important;
    top: 96px !important;
  }
  .rewards {
    padding-left: 33px !important;
    position: relative !important;
    top: 170px !important;
  }
  .login__container {
    background-position: 198px 160px;
  }
}
@media (max-width:412px) {
  .code__container {
    .sent1 {
      height: 154px;
    }
  }
  .tab button {
    padding: 6px;
  }
  .login__form {
    top: 48px;
  }
}
@media (max-width:480px) {
  .form__container {
    width: 200px;
  }
  .btnLogin {
    width: 150px !important;
  }
  .forgot__password__container {
    top: 150px;
  }
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
@media (min-width:481px) and (max-width:767px) {
  .form__container {
    width: 40%;
  }
  .login__form {
    top: 48px;
  }
}
@media (min-width:768px) {
  .login__screen {
    background-position: -486px -59px;
    background-size: 1377px 1370px;
    // background-position: 50% -138px;
    // background-size: 1377px 1370px;
  }
  .row{
    padding-left: 50px;
  }
  .forgot__password__screen {
    background-position: 50% -138px;
    background-size: 1377px 1370px;
  }
  .home__screen__background {
    background-size: 778px auto;
    height: 1100px;
    background-position: -254px 224px;
  }
  .login__container {
    height: 1040px;
    background-position: 487px 238px;
    background-size: 350px 717px;
  }
  .refer_smoker {
    padding-left: 93px !important;
    padding-top: 73px !important;
  }

  .qr_code_container {
    top: 264px !important;
    padding-left: 93px !important;
  }

  .rewards {
    top: 497px !important;
    padding-left: 93px !important;
  }

  .forgot__password {
    left: 250px !important;
  }

  .mobile-show {
    display: none;
  }

  .login__nav {
    height: 60px;
    padding-top: 20px;
  }

  .lang__preference {
    padding-top: 70px;
  }

  .splash__screen .overlay-content {
    height: 41px;
    padding: 5px;
    top: 740px;
    font-size: 1.4em;
  }

  .login__screen .login__form {
    top: 76px;
    width: 55%;
    font-size: 1.5em;
    margin: 0 auto;
  }

  .fa {
    font-size: 20px;
    top: 42px !important;
  }

  .rewards_container {
    .vertical_line {
      right: 10% !important;
    }
  }
}
@media (min-width:1024px) {
  .splash__screen .overlay-content {
    top: 954px;
    font-size: 2em;
    padding: 0;
  }
  .row {
    margin: 0 auto;
  }
  .login__container {
    height: 1272px;
    background-position: 587px 320px;
    background-size: 511px 941px;
  }

  .login__screen {
    background-position: -585px -59px;
    background-size: 1777px 1770px;
  }

  .forgot__password__screen {
    background-position: 50% -138px;
    background-size: 1777px 1770px;
  }

  .login__screen .login__form {
    top: 192px!important;
    left: 28px;
    width: 55%;
    font-size: 1.5em;
    margin: 0 auto;
  }

  .home__screen__background {
    background-position: -325px 321px;
    background-size: 987px auto;
    height: 1300px;
  }

  .refer_smoker {
    padding-top: 184px !important;
    padding-left: 119px !important;
  }

  .qr_code_container {
    top: 342px!important;
    padding-left: 133px !important;
  }

  .rewards {
    top: 669px!important;
    padding-left: 163px !important;
  }

  .fa {
    font-size: 20px;
  }

  .padlock {
    top: 47px !important;
  }

  .lang__preference {
    padding-right: 56px;
  }

  .login__nav {
    height: 60px;
    padding-top: 20px;
  }

  .forgot__password__container {
    top: 325px;
  }

  .checkbox_container {
    font-size: 15px;
  }
}
@media (min-width:1280px) {
  .forgot__password__screen {
    background-size: cover;
    background-position: 50% 30%;
  }
  .row {
    margin: 0 auto;
  }
  .login__screen .login__form {
    width: 48%;
  }

  .lead__referral__fields {
    width: 100% !important;
  }

  .input__fields {
    width: 72% !important;
  }

  .tab button {
    padding: 28px;
  }
}
